<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <th:block th:each="msg : ${messages}">
        <h1 th:text="${msg}"></h1>
    </th:block>
</div>
<input type="button" value="Table Users"
       onclick="window.location.href = '/admin'">

<input type="button" value="Logout"
       onclick="window.location.href = '/logout'"><br/><br/>

<input type="button" value="Person"
       onclick="window.location.href = '/user'"><br/><br/>


</body>
</html>